.fa-user-circle-o {
  font-size: 24px;
}

.footer-text {
  font-size: 13px;
}

.footer-menu {
  color: white;
}

.footer-menu:hover {
  color: grey;
  text-decoration: none;
}

.footer-box-title {
  font-size: 18px;
}
